<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Ujjwal/JavaProjects/PrivateBatch/SeleniumTestNG">
        <classes>
            <class name="com.testngSelenium.tests.SauceLabLoginTestPageFactory">
            <methods>
                <include name="locked_out_user_Test"/>
                <include name="locked_out_user_Test2"/>
                <include name="successfulLoginTest"/>
                <include name="addToCartTest"/>
            </methods>
        </class>
            <class name="com.testngSelenium.tests.TestNGAnnotations"></class>
        </classes>
    </test>
</suite>